<hr/>
<div>

    <b><u>UserName: {{response.firstName}} {{response.lastName}}</u></b><i>(Created: {{response.duration}})</i>

    <div>
        <i>Date Of Birth -> {{response.dob | date: "fullDate"}}</i><br/>
        <i>Email -> {{response.email}}</i><br/>
        <i>Registered Mobile Number -> {{response.mobileNumber}}</i><br/>

        <button (click) = "book(response.userId)">Book A Bus</button>

        <div *ngIf = "!checkLocalStorage()">
            <button (click) = "routeToOTPVerification(response.userId)">Verify Mobile Number</button>
        </div>
    </div>

</div>
