<hr/>

<div>
    <form [formGroup] = "signupForm" (ngSubmit) = "onSubmit()">
        <div >First Name:</div>
        <input formControlName = "firstName" type = "text"><br/>
        <div >Last Name:</div>
        <input formControlName = "lastName" type = "text"><br/>
        <div >Email:</div>
        <input formControlName = "email" type = "text"><br/>
        <div >Password:</div>
        <input formControlName = "password" type = "password"><br/>
        <div >Mobile Number:</div>
        <input formControlName = "mobileNumber" type = "text"><br/>
        <div >Date Of Birth:</div>
        <input formControlName = "dob" type = "date"><br/>

        <button>Signup</button>
    </form><br/>
    <div>
        <button (click) = "discard()">Discard Changes</button>
    </div>
</div>